/* Track */
::-webkit-scrollbar-track {
  background: #420420; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bada55; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }
